@tailwind base;
@tailwind components;
@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #f472b6; /* A soft pink, similar to the 'Crypto P03try' title */
  --ring: #c084fc; /* A light purple for focus rings */
  --background: #b33e7a; /* A dark purple for the toggle's thumb */
  --input: #4c1d95; /* A slightly lighter purple for the 'off' state */
}